{% assign data_sorted = include.data | sort %}
{% assign list = "" | split: "" %}
{%- for tag in data_sorted -%}
<section class="{{ tag[0] }}"><header>{{ tag[0] }}</header>
<dl>
{%- for line in tag[1] -%} 
{%- assign line_sorted = line | sort -%}
  {%- for element in line_sorted -%}
    {%- assign keywords = element[0] | split: "," -%}
    {% if keywords.size == 1 %}
  <dt>{{ keywords }}</dt>
<dd>{% if element[1].first != nil %}
{{ element[1] | join:"<br>" }}
{% else %}
{{ element[1] }}
{% endif %}</dd>
    {%- else -%}
      {%- assign list = list | push: element -%}
    {% endif %}
  {%- endfor -%}
{% endfor %}
</dl>
{% assign list_sorted = list | sort %}
{%- assign level_1 = nil -%}
{%- assign level_2 = nil -%}
{%- assign level_3 = nil -%}
{% for entry in list_sorted %}
  {% assign levels = entry[0] | split: "," %}
  {% if level_1 == nil or level_1 != levels[0] %}
    {% if level_1 != nil %}</dl></article>{% endif %}
<article class="{{ levels | join '' }}">
  <header>{{ levels[0] }}</header><dl>
    {% assign level_1 = levels[0] %}
  {% endif %}
  <dt>{% for l in (1..levels.size) %}{{ levels[l] | replace: "_", " " }}{% endfor %}</dt>
  <dd>{% if entry[1].first != nil %}
{{ entry[1] | join:"<br>" }}
{% else %}
{{ entry[1] }}
{% endif %}</dd>
{% endfor %}
{% if level_1 != nil %}</dl></article>{% endif %}
</section>
{% assign list = "" | split: "" %}
{%- endfor -%}
