html
  overflow-y: scroll
body
  width: 80ch
  margin: 0
  background: black
  color: #aaa
  font-size: large
  font-family: monospace
  & > *:first-child
    margin-top: 0
table
  td:first-child
    text-align: right
    padding-right: 4ch
section > header
  font-size: 1em
  color: OrangeRed
  text-transform: uppercase
article > header
  font-size: 1em
  color: LightSeaGreen
  margin-left: 3ch
  text-transform: uppercase
main
  padding: .3em
nav
  padding: .3em
  color: YellowGreen
  .right
    float: right
dl
  display: grid
  grid-template-columns: max-content auto
dt
  grid-column-start: 1
dd
  color: white
  grid-column-start: 2
  margin-inline-start: 2ch
