<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.github.repository_name }}</title>
    <link rel="stylesheet" type="text/css" href="assets/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lz-string/1.4.4/lz-string.js"></script>
    <script src="assets/script.js"></script>
  </head>
  <body>
    <nav>
      <a href="{{ site.github.repository_url }}">{{ site.github.repository_nwo }}</a>
      <span class="right">
        {{ site.github.latest_release.tag_name | default: "No releases" }}
      </span>
    </nav>
    <main>
      {{ content }}
    </main>
  </body>
</html>
