<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.github.repository_name }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="assets/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lz-string/1.4.4/lz-string.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/keyboardjs/2.5.0/keyboard.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="assets/script.js"></script>
  </head>
  <body>
    <nav>
      <span><a href="{{ site.github.repository_url }}">{{ site.github.repository_nwo }}</a></span>
      <span id="display_commands"></span>
      <span id="display_version">
        {{ site.github.latest_release.tag_name | default: "No releases" }}
      </span>
    </nav>
    <main>
      {{ content }}
    </main>
  </body>
</html>
